<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>ATM Machine Project</h1>
    </header>
    <div class="container">
        <!-- ATM Info Form -->
        <div class="mt-20">
            <form [formGroup]="ATMInfoForm" onSubmit="cardSubmitHandler()">
                <div class="form-group">
                    <label for="cardNo">Card No</label>
                    <input type="text" name="cardNo" id="cardFor" placeholder="Enter your card no"
                        formControlName="cardFor">
                    <div *ngIf="cardNo.touched && cardNo.invalid">
                        <div class="alert alert-danger" *ngIf="cardNo.errors.required">Card No is required.</div>
                        <div class="alert alert-danger" *ngIf="cardNo.errors.minlength">Card No minimum length should be
                            16 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nameOnCard">Name on Card</label>
                    <input type="text" name="cardNo" id="nameOnCard" placeholder="Enter your name"
                        formControlName="cardFor">
                    <div *ngIf="nameOnCard.touched && nameOnCard.invalid">
                        <div class="alert alert-danger" *ngIf="nameOnCard.errors.required">Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="expiryDate">Card Expiry Date</label>
                    <input type="text" name="expiryDate" id="expiryDate" placeholder="Enter your card no"
                        formControlName="expiryDate">
                    <div *ngIf="expiryDate.touched && expiryDate.invalid">
                        <div class="alert alert-danger" *ngIf="expiryDate.errors.required">Expiry date is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button>Submit</button>
                </div>
            </form>
        </div>
        <!-- OTP Form -->
        <div>
            <form [formGroup]="otpForm" onSubmit="otpSubmitHandler()">
                <div class="form-group">
                    <label for="otp">OTP</label>
                    <input type="text" name="otp" id="otp" placeholder="Enter OTP" formControlName="otp">
                </div>
                <div class="form-group">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <footer>

    </footer>
</body>

</html>